<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <title>VUE JS 3.2.2024</title>
        <script src="https://unpkg.com/vue@3"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <!--  -->
    </head>
    <body>
        <div id="app" class="p-20">
            <section v-show="inProgressAssignments.length">
                <h2 class="text-2xl font-bold">In Progress</h2>
                <br />

                <ul>
                    <li
                        v-for="assignment in inProgressAssignments"
                        :key="assignment.id"
                    >
                        <label>
                            <input
                                type="checkbox"
                                v-model="assignment.complete"
                            />
                            {{ assignment.name }}
                        </label>
                    </li>
                </ul>
            </section>

            <section class="mt-8" v-show="completedAssignments.length">
                <h2 class="text-2xl font-bold">Completed</h2>
                <br />

                <ul>
                    <li
                        v-for="assignment in completedAssignments"
                        :key="assignment.id"
                    >
                        <label>
                            <input
                                type="checkbox"
                                v-model="assignment.complete"
                            />
                            {{ assignment.name }}
                        </label>
                    </li>
                </ul>
            </section>
        </div>

        <script>
            let app = {
                data() {
                    return {
                        assignments: [
                            {
                                name: "3rd Party Api Integration",
                                complete: false,
                                id: 1,
                            },
                            { name: "PHP OOP", complete: false, id: 2 },
                            { name: "Vue JS initial", complete: false, id: 3 },
                            { name: "Blog site WP", complete: false, id: 4 },
                        ],
                    };
                },

                computed : {
                    inProgressAssignments () {
                        return this.assignments.filter(assignment => !assignment.complete)
                    },
                    completedAssignments () {
                        return this.assignments.filter(assignment => assignment.complete)
                    }
                }
            };

            Vue.createApp(app).mount("#app");
        </script>
    </body>
</html>
